{% extends "layout.html" %}
{% block title %}
    Feed
{% endblock %}

{% block main %}
    <h1>Feed</h1>
    <form action="/feed" method="GET">
        <div class="mb-3">
            <select name="styleFilter" class="form-select" aria-label="Default select example">
                <option disabled selected value="">Filter by Style</option>
                    <option value="Formal">Formal</option>
                    <option value="Casual">Casual</option>
                    <option value="Streetwear">Streetwear</option>
                    <option value="Athleisure">Athleisure</option>
            </select>
        </div>
        <div class="mb-3">
            <select name="sizeFilter" class="form-select" aria-label="Default select example">
                <option disabled selected value="">Filter by Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
            </select>
        </div>
        <div class="mb-3">
            <select name="typeFilter" class="form-select" aria-label="Default select example">
                <option disabled selected value="">Filter by Type</option>
                    <option value="Shirt">Shirt</option>
                    <option value="Jacket">Jacket</option>
            </select>
        </div>
        <button type="submit">Apply Filters</button>
    </form>
    
    <div class="mb-3">
        <table>
            <thead>
                <tr>
                    <th>Inquiries</th>
                </tr>
            </thead>
            <tbody>
                <!-- I think we can look into creating like cards to represent these things? like ui fizz but multiple per row-->
                {% for result in results %}
                    <tr>
                        <td>{{result.username}}</td>
                        <td>{{result.college}}</td>
                        {% for tag in result.tags.split(', ') %}
                            <td>{{tag}}</td>
                            <!-- create hidden form, that reveals itself after u click on it-->
                            <!-- A form pops up with a -->
                        {% endfor %}
                        <td>{{result.request}}</td>
                        <td>{{result.exp_date}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Button trigger modal (just something random from bootstrap) -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        What do you want to borrow?
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/feed" method="post">
                    <div class="mb-3">
                        <input class="form-control mx-auto w-auto" name="userRequest" placeholder="Explain your request" type="text" required>
                    </div>
                    <select name="style" class="form-select" aria-label="Default select example" multiple>
                        <option disabled selected value="">Please attach any tags that are applicable!</option>
                            <option value="Formal">Formal</option>
                            <option value="Casual">Casual</option>
                            <option value="Streetwear">Streetwear</option>
                            <option value="Athleisure">Athleisure</option>
                    </select>
                    <select name="size" class="form-select" aria-label="Default select example" required>
                        <option disabled selected value="">What size?</option>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                    </select>
                    <select name="item" class="form-select" aria-label="Default select example">
                        <option disabled selected value="">What type of clothing?</option>
                            <option value="Shirt">Shirt</option>
                            <option value="Jacket">Jacket</option>
                    </select>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-auto" name="expirationDate" placeholder="Expiration Date: " type="date">
                    </div>
                    <button class="btn btn-primary" type="submit">Submit Request</button>
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
