{% extends "layout.html" %}
{% block title %}
    Interactions
{% endblock %}

{% block main %}
    <h1 class="page-title">Interactions</h1>
    <div class="interactions-container">
        <div class="lending-container">
            <h2>Lending</h2>
            {% for interaction in lender_interactions %}
                <div class="interaction-card">
                    <div class="card-header">
                        {% if interaction.user_img %}
                            <img src="{{ url_for('static', filename=interaction.user_img) }}" alt="User Image" class="user-img" style="float: left; margin-left: 10px;">
                        {% else %}
                            <img src="{{ url_for('static', filename='default_user.png') }}" alt="Default User Image" class="user-img" style="float: left; margin-left: 10px;">
                        {% endif %}
                        <div class="user-info">
                            <h3 class="name">{{ interaction.name }}</h3>
                            <p class="username">{{ interaction.username }}</p>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if interaction.img_path %}
                            <img src="{{ url_for('static', filename=interaction.img_path) }}" alt="Item Image" class="item-img">
                        {% else %}
                            <p>No image uploaded yet.</p>
                        {% endif %}
                        <p><strong>Request:</strong> {{ interaction.request }}</p>
                        <p><strong>Send by:</strong> {{ interaction.exp_date }}</p>
                        <p><strong>Return by:</strong> {{ interaction.lending_exp_date }}</p>
                        <p><strong>Status:</strong> {{ interaction.status }}</p>
                    </div>
                    <div class="card-footer">
                        {% if interaction.status == "pending" %}
                            <p>Please send your item over by the expiration date!</p>
                        {% elif interaction.status == "in progress" %}
                            <form action="/interactions" method="POST">
                                <input type="hidden" name="inquiry_id" value="{{ interaction.inquiry_id }}">
                                <button type="submit" name="returnButton" class="btn-primary">Returned Item?</button>
                            </form>
                        {% elif interaction.status == "lost" %}
                            <form action="/interactions" method="post">
                                <button class="delete-button">Delete</button>
                                <input type="hidden" id="inquiry_id_delete" name="inquiry_id_delete" value="{{ interaction.inquiry_id }}">
                            </form>
                        {% elif interaction.status == "late" %}
                            <p>Your transaction is late!</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="borrowing-container">
            <h2>Borrowing</h2>
            {% for interaction in borrow_interactions %}
                <div class="interaction-card">
                    <div class="card-header">
                        {% if interaction.user_img %}
                            <img src="{{ url_for('static', filename=interaction.user_img) }}" alt="User Image" class="user-img" style="float: left; margin-left: 10px;">
                        {% else %}
                            <img src="{{ url_for('static', filename='default_user.png') }}" alt="Default User Image" class="user-img" style="float: left; margin-left: 10px;">
                        {% endif %}
                        <div class="user-info">
                            <h3 class="name">{{ interaction.name }}</h3>
                            <p class="username">{{ interaction.username }}</p>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if interaction.item_img %}
                            <img src="{{ url_for('static', filename=interaction.item_img) }}" alt="Item Image" class="item-img">
                        {% else %}
                            <p>No image uploaded yet.</p>
                        {% endif %}
                        <p><strong>Request:</strong> {{ interaction.request }}</p>
                        <p><strong>Need by:</strong> {{ interaction.exp_date }}</p>
                        <p><strong>Return by:</strong> {{ interaction.lending_exp_date }}</p>
                        <p><strong>Status:</strong> {{ interaction.status }}</p>
                    </div>
                    <div class="card-footer">
                        {% if interaction.status == "pending" %}
                            <form action="/interactions" method="POST">
                                <input type="hidden" name="inquiry_id" value="{{ interaction.inquiry_id }}">
                                <button type="submit" name="receiveButton" class="btn-primary">Received Item?</button>
                            </form>
                        {% elif interaction.status == "in progress" %}
                            <p>Please return your item according to your lender!</p>
                        {% elif interaction.status in ["late", "completed"] %}
                            <form action="/interactions" method="post">
                                <button class="delete-button">Delete</button>
                                <input type="hidden" id="inquiry_id_delete" name="inquiry_id_delete" value="{{ interaction.inquiry_id }}">
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}