<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Closet Collab - {% block title %}{% endblock %}</title>
  <link href="/static/styles.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar-container">
    <div class="navbar">
      <a href="{{ url_for('index') }}" class="navbar-brand">Closet Collab</a>
      <ul class="navbar-nav" id="navbar-nav">
  
      </ul>
    </div>
  </nav>
  <main>
    {% block main %}{% endblock %}
  </main>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
