{% extends "layout.html" %}
{% block title %}
    My Profile
{% endblock %}

{% block main %}
    <h1>My Profile</h1>
    <!-- Work on uploading pictures, lowkey a last min feature-->
    <h2>Update my profile picture!</h2>
    
    <!-- Button trigger modal (just something random from bootstrap) -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Update Profile Picture
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Profile Picture</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/profile" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <input name="profilePic" placeholder="Image: " type="file" accept="image/*" >
                    </div>
                    <button class="btn btn-primary" type="submit">Upload</button>
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>

    <div class="mb-3">
        <table>
            <tbody>
                <tr>
                    <td>{{user.name}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.college}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    {% if picture %}
        <h3>Uploaded Image:</h3>
        <p>{{ url_for('static', filename=picture) }}</p>
        <img src="{{ url_for('static', filename=picture) }}" alt="User Image" style="max-width: 200px;">
    {% else %}
        <p>No image uploaded yet.</p>
    {% endif %}

    <div class="mb-3">
        <table>
            <thead>
                <tr>
                    <th>My Inquiries</th>
                </tr>
            </thead>
            <tbody>
                <!-- I think we can look into creating like cards to represent these things? like ui fizz but multiple per row-->
                {% for inquiry in inquiries %}
                    <tr>
                        <td>{{inquiry.request}}</td>
                        <td>{{inquiry.exp_date}}</td>
                        <!-- Button that user presses to enter a inquiry reply-->
                        <td>
                            <a href="{{ url_for('inquiry', inquiry_id=inquiry.id) }}">
                                <button type="button">See your replies!</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
