{% extends "layout.html" %}
{% block title %}
    My Profile
{% endblock %}

{% block main %}

<div class="profile-container">
    <h1 class="page-title">My Profile</h1>
    
    
    <div class="profile-picture-container">
        {% if picture %}
        <div class="profile-image">
            <img src="{{ url_for('static', filename=picture) }}" alt="User Image" class="profile-image">
        </div>
        {% else %}
        <p>No image uploaded yet.</p>
        {% endif %}
        <button class="btn-primary" id="updatePicture">
            Update Profile Picture
        </button>
    </div>
    
    <div class="modal fade" id="updPicMod" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Profile Picture</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/profile" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <input name="profilePic" placeholder="Image: " type="file" accept="image/*" class="form-control">
                        </div>
                        <button class="btn-primary" type="submit">Upload</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-primary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="profile-info">
        <table class="profile-table">
            <tbody>
                <tr>
                    <td>Name:</td>
                    <td>{{user.name}}</td>
                </tr>
                <tr>
                    <td>Username:</td>
                    <td>{{user.username}}</td>
                </tr>
                <tr>
                    <td>College:</td>
                    <td>{{user.college}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="inquiries-container">
        <h2 class="section-title">My Inquiries</h2>
        <table class="inquiry-table">
            <thead>
                <tr>
                    <th>Request</th>
                    <th>Expiration Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for inquiry in inquiries %}
                <tr>
                    <td>{{inquiry.request}}</td>
                    <td>{{inquiry.exp_date}}</td>
                    {% if inquiry.accepted == "yes" %}
                    <td><span class="status accept">ACCEPTED</span></td>
                    {% else %}
                    <td><span class="status pending">WAITING</span></td>
                    {% endif %}
                    <td>
                        <a href="{{ url_for('inquiry', inquiry_id=inquiry.id) }}">
                            <button type="button" class="btn-primary">View replies!</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
       const addButton = document.querySelector('#updatePicture');
       const modal = document.querySelector('#updPicMod');
       const closeBtn = document.querySelector('.btn-close');
    
       addButton.addEventListener('click', () => {
           modal.classList.add('show');
       });
    
       closeBtn.addEventListener('click', () => {
           modal.classList.remove('show');
       });
    
       window.addEventListener('click', (e) => {
           if (e.target === modal) {
               modal.classList.remove('show');
           }
       });
    });
    </script>
{% endblock %}