{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<div class="content">
    <!-- Page title -->
   <h2 class="h2">Register</h2>
    <!-- Registration form -->
   <form action="{{ url_for('register') }}" method="post" class="register-form">
    <!-- Name input --> 
    <div class="mb-3">
           <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Name" type="text" maxlength="20">
       </div>
       <!-- Email input -->
       <div class="mb-3">
           <input class="form-control" name="email" placeholder="Email" type="email" maxlength="50">
       </div>
        <!-- Username input -->
       <div class="mb-3">
           <input autocomplete="off" class="form-control" name="username" placeholder="Username" type="text" maxlength="20">
       </div>
        <!-- Password input -->
       <div class="mb-3">
           <input class="form-control" name="password" placeholder="Password" type="password">
       </div>
      <!-- Confirm password input -->
       <div class="mb-3">
           <input class="form-control" name="confirmation" placeholder="Confirm your password" type="password">
       </div>
          <!-- College selection dropdown -->
       <div class="mb-3">
           <select name="college" class="form-select" aria-label="Default select example">
               <option disabled selected value="">Residential College</option>
               <option value="Benjamin Franklin">Benjamin Franklin</option>
               <option value="Berkeley">Berkeley</option>
               <option value="Branford">Branford</option>
               <option value="Davenport">Davenport</option>
               <option value="Ezra Stiles">Ezra Stiles</option>
               <option value="Grace Hopper">Grace Hopper</option>
               <option value="Jonathan Edwards">Jonathan Edwards</option>
               <option value="Morse">Morse</option>
               <option value="Pauli Murray">Pauli Murray</option>
               <option value="Pierson">Pierson</option>
               <option value="Saybrook">Saybrook</option>
               <option value="Siliman">Siliman</option>
               <option value="Timothy Dwight">Timothy Dwight</option>
               <option value="Trumbull">Trumbull</option>
           </select>
       </div>
        <!-- Register button -->
       <button class="btn btn-primary" type="submit">Register</button>
   </form>
</div>
{% endblock %}
